<div class="container">
  <h3>Admin Registeration Form</h3>
    <form #Registerform="ngForm" (ngSubmit)="RegisterUser()">
        <small class="text-danger">{{msg.messge}}</small>
    
        <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" placeholder="Enter email" name="email"  [(ngModel)]="user.emailid">
  </div>

  <div class="form-group">
    <label for="name">User Name:</label>
    <input type="name" class="form-control" placeholder="Enter Username" name="name"  [(ngModel)]="user.name">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control"  placeholder="Enter Password" name="pwd" [(ngModel)]="user.pwd">
  </div>

  <div class="form-group">
    <label for="confirm password">Confirm Password:</label>
    <input type="password" class="form-control" placeholder="Please Confirm Password" name="confirm password"  (ngModel)="user.pwd">
  </div>

  <button type="submit" class="btn btn-info">Register</button>

  </form>
  <!-- <small class="btn btn-info float-right" [routerLink]="['/login']">Existing user? Login here</small> -->
