
Logged In Successfully!!

<div class="container">
    <ul class="nav justify-content-center">
      <h4><li class="nav-item"><a routerLink="/addFood" class="nav-link">Add Food </a></li></h4>
      <h4><li class="nav-item"><a routerLink="/updateFood" class="nav-link">Update Food </a></li></h4>
      <h4><li class="nav-item"><a routerLink="/deleteFood" class="nav-link">Delete Food </a></li></h4>
      <h4><li class="nav-item"><a routerLink="/searchFood" class="nav-link">Search Food </a></li></h4>
      <h4> <li class="nav-item"><a routerLink="/foodsList" class="nav-link">View all Food Items </a></li></h4>
      <h4><li class="nav-item"><a routerLink="/login" class="nav-link">Logout</a></li></h4>
    </ul>
  </div>