 <div class="jumbotron">
  <h1 class="display-4">Hello, Welcome to {{title}}</h1>
  <hr class="my-4">
</div>
<!-- <div class="container">
  <ul class="nav justify-content-center">
    <h3><li class="nav-item"><a routerLink="/registration" class="nav-link">Register </a></li></h3>
    <h3> <li class="nav-item"><a routerLink="/login" class="nav-link">Login </a></li></h3>
  </ul>
</div> -->

 <!-- <div class="container">
  <ul class="nav justify-content-center">
    <h4><li class="nav-item"><a routerLink="/addFood" class="nav-link">Add Food </a></li></h4>
    <h4><li class="nav-item"><a routerLink="/updateFood" class="nav-link">Update Food </a></li></h4>
    <h4><li class="nav-item"><a routerLink="/deleteFood" class="nav-link">Delete Food </a></li></h4>
    <h4><li class="nav-item"><a routerLink="/searchFood" class="nav-link">Search Food </a></li></h4>
    <h4> <li class="nav-item"><a routerLink="/foodsList" class="nav-link">View all Food Items </a></li></h4>
    <h4><a routerLink="/login" class="nav-link">Home</a></h4>
  </ul>
</div> -->
<br>
<br> 

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar">
      <a class="navbar-brand" routerLink="/login">FoodBox</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=" nav-item active"><a routerLink="/addFood" class="nav-link">Add Food </a></li>
      <li class=" nav-item active"><a routerLink="/updateFood" class="nav-link">Update Food </a></li>
      <li class=" nav-item active"><a routerLink="/deleteFood" class="nav-link">Delete Food </a></li>
      <li class=" nav-item active"><a routerLink="/searchFood" class="nav-link">Search Food </a></li>
      <li class=" nav-item active"><a routerLink="/foodsList" class="nav-link">View All Food Items </a></li>
    </ul>
  </div>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>